{
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "extends": [
        "standard-with-typescript",
        "plugin:react/recommended",
        "plugin:react-native/all"
    ],
    "plugins": [
        "react",
        "react-native"
    ],
    "env": {
        "react-native/react-native": true
    },
    "parserOptions": {
        "project": [
            "./tsconfig-eslint.json"
        ],
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-floating-promises": "off",
        "@typescript-eslint/consistent-type-definitions": "off",
        "react-native/no-single-element-style-arrays": "off",
        "react-native/no-inline-styles": "off",
        "react-native/no-color-literals": "off",
        "react-native/no-raw-text": "off",
        "no-unused-expressions": "off",
        "react/display-name": "off",
        "react/prop-types": 0
    }
}